*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.conatiner{
    .all_header{
        .hero_section{
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            padding-top: 5px;
            .descri{
                font-weight: 100;
            }
            .login{
                a{
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
        .navbar_section{
            border: 1px solid black;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            #navbar{
                display: none;
            }
            
            .logo{
                // border: 2.5px solid black;
                h1{
                    // padding-left: 10px;
                    padding-right: 10px;
                    border: 2.5px solid black;
                    font-size: 27px;
                    .fir{
                        font-size: 25px;
                        font-family: cursive;
                        // background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
                        // background-repeat: repeat;
                        // -webkit-background-clip: text;
                        // -webkit-text-fill-color: transparent;
                        padding-left: 8px;
                        background-color: black;
                        color: white;
                        padding-right: 8px;
                    }
                    .secon{
                        background-color: black;
                    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Ah929j52MFEgv6CpoA2nmU4dv7BCfMeEyQ&s');
                    background-repeat: repeat;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                    
                }
            }
            nav{
                
                padding-top: 10px;
                // border: 2px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                ul{
                display: flex;
                align-items: center;
                padding: 5px;
                gap: 40px;
                justify-content: center;
                justify-content: space-evenly;
                font-family: cursive;
                    li{
                        list-style-type: none;
                        display: flex;
                        a{
                            color: black;
                            font-size: 15px;
                            border-bottom: 2px solid transparent;
                            // background-color: red;
                            padding: 10px;
                            text-decoration: none;
                            &:hover{
                                border-bottom: 2px solid black;
                                transition: border 1s ease ;
                            }
                        }
                    }
                    .last{
                        cursor: pointer;
                        background-color: black;
                       
                       
                        border: 1px solid black;
                        border-radius: 10px;
                        a{
                            padding-left: 15px;
                            padding-right: 15px;
                            color: whitesmoke;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            &:hover{
                                border-bottom: 2px solid transparent;
                            }

                        }
                    }
                }
            }
            label{
                display: none;
            }
        }
    }
    div {
        // height: 500px;
        // width: 1000px;
        // overflow-x: scroll;
        .banner{
            height: 500px;
            
            .first{
                // border: 5px solid yellow;
                width: 100%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                background-image: url('https://img.freepik.com/premium-photo/showcase-electronic-items-black-background_893571-15169.jpg');
                background-size: cover;
                display: flex;
                justify-content: start;
                align-items: center;
                .paragraph{
                    height: 200px;
                    width: 40%;
                    margin-left: 20px;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    // justify-content: center;
                    // align-items: center;
                    p{
                        color: rgb(180, 126, 230);
                    }
                    h1{
                        color: blueviolet;

                    }
                    span{
                        color: whitesmoke;
                    }
                    button{
                        outline: none;
                        border: none;
                        background-color: black;
                        color: whitesmoke;
                        border-radius: 10px;
                        &:hover{
                            background-color: whitesmoke;
                            color: black;
                            transition: all ease 2s;
                        }

                    }
                }
            }
        }
    }
    // main section

    .main_body{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .card{
        
            height: 300px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: start;
            // justify-content: space-between;
            // border: 2px solid black;
            // overflow-y: hidden;
            border: none;
            box-shadow: 0px 0px 5px 1px black;
            .img{
                height: 60%;
                width: 100%;
                // border: 2px solid black;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .heading{
                height: 5%;
                width: 100%;
                font-size: 10px;
                display: flex;
                // align-items: center;
                // justify-content: center;
                // border: 1px solid rgb(34, 220, 87);

            }
            .product_name{
                height: 20%;
                width: 100%;
                // border: 2px solid black;
                h5{
                    font-size: 18px;
                }
                p{
                   width: 100%;
                    font-size: 13px;
                }
            }
            .price{
                width: 100%;
                height: 5%;
                // border: 1px solid black;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                // border: 2px solid black;
                .fixed_price{
                    font-size: 15px;
                    font-weight: 500;
                }
                .main_price{
                    font-size: 12px;
                    font-weight: 450;
                }
                .offer{
                    font-size: 12px;
                    color: rgb(21, 214, 21);
                }
            }
            .button{
                display: flex;
                align-items: end;
                height: 10%;
                // border: 1px solid rgb(223, 19, 97);
                width: 100%;
                button{
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    font-weight: 500;
                    background-color: rgba(230, 200, 30, 0.905);
                    &:hover{
                        background-color: blueviolet;
                        color: white;
                        transition: all 2s ease-in-out;
                    }
                }
            }
        }
    }


    // main section

// footer section
    footer{
        margin-top: 20px;
        .footer_menu{
            height: 400px;
            width: 100%;
            background-color: #fff8f8;
            display: flex;
            justify-content: center;
            align-items: center;
            .veges{
                height: 300px;
                width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                padding: 20px 60px;
                justify-content: space-evenly;
                h1{
                    display: flex;
                    // padding-left: 10px;
                    padding-right: 10px;
                    border: 2.5px solid black;
                    font-size: 27px;
                    .fir{
                        font-size: 25px;
                        font-family: cursive;
                        // background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
                        // background-repeat: repeat;
                        // -webkit-background-clip: text;
                        // -webkit-text-fill-color: transparent;
                        padding-left: 8px;
                        background-color: black;
                        color: white;
                        padding-right: 8px;
                    }
                    .secon{
                        font-size: 25px;
                        background-color: black;
                    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Ah929j52MFEgv6CpoA2nmU4dv7BCfMeEyQ&s');
                    background-repeat: repeat;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                    
                }
                p{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
                }
                .footer_show{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-evenly;
                    div{
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        background-color: #00000005;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                       margin-right: 10px;
                       a{
                            text-decoration: none;
                            font-size: 25px;
                            color: black;
                       }
                    }
                }
            }
            .menu{
                height: 300px;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                padding-left: 40px;
                justify-content: space-evenly;
                h1{
                    margin-top: 15px;
                    font-family: 'Courier New', Courier, monospace; 
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }
            .help{
                height: 300px;
                width: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:start;
                padding-left: 40px;
                justify-content: space-evenly;
                a{
                    text-decoration: none;
                        color: black;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        span{
                            margin-left: 15px;
                            margin-top: 5px;
                        }
                }
                h1{
                    font-family: 'Courier New', Courier, monospace;
                     margin-top: 10px;
                }
            }
            .question{
                height: 300px;
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                h1{
                    font-family: 'Courier New', Courier, monospace;
                    margin-bottom: 15px;
                }
                .location{
                    height: 80px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 20px;
                        text-align: start;
                        margin-bottom: 33px;
                        margin-right: 30px;
                    }
                }
                .contact{
                    a{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        gap: 30px;
                        color: black;
                    }
                    i{
                        font-size: 20px;
                        color: black;
                    }
                }
                .email{
                    a{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        gap: 30px;
                        color: black;
                    }
                    i{
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }
        .footer_main{
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
    }
}

@media screen and (max-width: 768px){
    .conatiner{
        .all_header{
            .hero_section{
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: space-around;
                padding-top: 5px;
                .descri{
                    font-weight: 100;
                }
                .login{
                    a{
                        text-decoration: none;
                        font-weight: 400;
                    }
                }
            }
            .navbar_section{
               
                #navbar{
                    // border: 2px solid black;
                    // display: block;
                }
                
                .logo{
                    // border: 2.5px solid black;
                    h1{
                        // padding-left: 10px;
                        padding-right: 10px;
                        border: 2.5px solid black;
                        font-size: 27px;
                        .fir{
                            font-size: 25px;
                            font-family: cursive;
                            // background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
                            // background-repeat: repeat;
                            // -webkit-background-clip: text;
                            // -webkit-text-fill-color: transparent;
                            padding-left: 8px;
                            background-color: black;
                            color: white;
                            padding-right: 8px;
                        }
                        
                    }
                }
                nav{

                    
                    padding-top: 10px;
                    // border: 2px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // position: absolute;
                    // top: 0px;
                    // flex-direction: column;
                    // gap: 0px;
                    // left: 0px;
                    // background-color:  #ffffff1A;
                    // // background-color:  #ffffff57;
                    // width: 100%;
                    // align-items: start;
                    display: none;
                    ul{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    gap: 40px;
                    justify-content: center;
                    justify-content: space-evenly;
                    font-family: cursive;
                    position: absolute;
                    top: 90px;
                    flex-direction: column;
                    gap: 0px;
                    left: 0px;
                    background-color:  #e25d5d1a;
                    // background-color:  #ffffff57;
                    width: 100%;
                    align-items: start;
                    // display: none;
                    
                        li{
                            
                            // list-style-type: none;
                            // display: flex;
                            a{
                                // display: none;
                                // color: black;
                                // font-size: 15px;
                                // border-bottom: 2px solid transparent;
                                // // background-color: red;
                                // padding: 10px;
                                // text-decoration: none;
                                // &:hover{
                                //     border-bottom: 2px solid black;
                                //     transition: border 1s ease ;
                                // }
                            }
                        }
                        .last{
                            // display: none;
                            // cursor: pointer;
                            // background-color: black;
                            // border: 1px solid black;
                            // border-radius: 10px;
                            a{
                                // display: none;
                                // padding-left: 15px;
                                // padding-right: 15px;
                                // color: whitesmoke;
                                // display: flex;
                                // justify-content: center;
                                // align-items: center;
                                // gap: 10px;
                                // &:hover{
                                //     border-bottom: 2px solid transparent;
                                // }
    
                            }
                        }
                    }
                }
                label{
                    font-size: 20px;
                    display: block;
                    &:hover{
                        background-color:blue;
                        padding: 5px;
                       color: yellow;
                       border-radius: 20px;
                    }
                }
                // #navbar:checked ~ nav ul  li a , nav ul .last a ,nav ul .last,nav ul {
                //     display: block;
                //   }

                  #navbar:checked ~ nav {
                    display: block;
                  }
            }
        }


        div{
            .banner{
                height: 250px;
                .first{
                    height: 100%;
                 
                    .paragraph{
                        height: 150px;
                        width: 40%;
                        margin-left: 20px;
                        display: flex;
                        gap:5px;
                        flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        p{
                            font-size: 8px;
                            color: rgb(180, 126, 230);
                        }
                        h1{
                            font-size: 15px;
                            color: blueviolet;
        
                        }
                        span{
                            font-size: 8px;
                            color: whitesmoke;
                        }
                        button{
                            font-size: 16px;
                        }
                    }
                }
        
        
            }
        }



        footer{
            .footer_menu{
                height: 400px;
                width: 100%;
                background-color: #fff8f8;
                display: flex;
                justify-content: center;
                align-items: center;
                .veges{
                    height: 300px;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    // padding: 10px 20px;
                    justify-content: space-evenly;
                    h1{
                        // padding-left: 10px;
                        padding-right: 10px;
                        border: 2.5px solid black;
                        font-size: 27px;
                        .fir{
                            font-size: 18px;
                            font-family: cursive;
                            // background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
                            // background-repeat: repeat;
                            // -webkit-background-clip: text;
                            // -webkit-text-fill-color: transparent;
                            padding-left: 8px;
                            background-color: black;
                            color: white;
                            padding-right: 8px;
                        }
                        .secon{
                            font-size: 18px;
                            background-color: black;
                        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Ah929j52MFEgv6CpoA2nmU4dv7BCfMeEyQ&s');
                        background-repeat: repeat;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        }
                        
                    }
                    p{
                        font-size: 12px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
                    }
                    .footer_show{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        justify-content: space-evenly;
                        div{
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            background-color: #00000005;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                           margin-right: 10px;
                           a{
                                text-decoration: none;
                                font-size: 15px;
                                color: black;
                           }
                        }
                    }
                }
                .menu{
                    height: 300px;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    padding-left: 40px;
                    justify-content: space-evenly;
                    h1{
                        margin-top: 15px;
                        font-size: 18px;
                        font-family: 'Courier New', Courier, monospace; 
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 12px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }
                }
                .help{
                    height: 300px;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:start;
                    padding-left: 40px;
                    justify-content: space-evenly;
                    a{
                        text-decoration: none;
                            color: black;
                            font-size: 12px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            span{
                                margin-left: 5px;
                                margin-top: 1px;
                            }
                    }
                    h1{
                        font-family: 'Courier New', Courier, monospace;
                         margin-top: 10px;
                         font-size: 18px;
                    }
                }
                .question{
                    height: 300px;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    h1{
                        font-size: 18px;
                        font-family: 'Courier New', Courier, monospace;
                        margin-bottom: 15px;
                    }
                    .location{
                        height: 80px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            font-size: 13px;
                            text-align: start;
                            margin-bottom: 10px;
                            margin-right: 10px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                    .contact{
                        a{
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            gap: 30px;
                            color: black;
                        }
                        i{
                            font-size: 13px;
                            color: black;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                    .email{
                        a{
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            gap: 30px;
                            color: black;
                        }
                        i{
                            font-size: 13px;
                            color: black;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
            .footer_main{
                height: 80px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
        }
    }
    


}


@media screen and (max-width: 420px){
    .conatiner{
        .all_header{
            .hero_section{
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: space-around;
                padding-top: 5px;
                font-size: 5px;
                .descri{
                    font-weight: 50;
                    font-size: 9px;
                    
                }
                .login{
                    a{
                        text-decoration: none;
                        font-weight: 100;
                        font-size: 9px;
                    }
                }
            }
            .navbar_section{
               
                
                
                .logo{
                    // border: 2.5px solid black;
                    h1{
                        
                        padding-left: -2px;
                        padding-right: -2px;
                        border: 1.5px solid black;
                        font-size: 20px;
                        .fir{
                            font-size: 19px;
                            font-family: cursive;
                            // background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
                            // background-repeat: repeat;
                            // -webkit-background-clip: text;
                            // -webkit-text-fill-color: transparent;
                            padding-left: 2px;
                            background-color: black;
                            color: white;
                            padding-right: 2px;
                        }
                        .secon{
                            background-color: black;
                        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Ah929j52MFEgv6CpoA2nmU4dv7BCfMeEyQ&s');
                        background-repeat: repeat;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        }
                        
                    }
                }
                nav{

                   
                    padding-top: 5px;
                    // border: 2px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // position: absolute;
                    // top: 0px;
                    // flex-direction: column;
                    // gap: 0px;
                    // left: 0px;
                    // background-color:  #ffffff1A;
                    // // background-color:  #ffffff57;
                    // width: 100%;
                    // align-items: start;
                    display: none;
                    ul{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    gap: 40px;
                    justify-content: center;
                    justify-content: space-evenly;
                    font-family: cursive;
                    position: absolute;
                    top: 90px;
                    flex-direction: column;
                    gap: 0px;
                    left: 0px;
                    // background-color: brown;
                    background-color:  #e17ea867;
                    // background-color:  #ffffff57;
                    width: 100%;
                    
                    align-items: start;
                    // display: none;
                    
                        li{
                            
                            // list-style-type: none;
                            // display: flex;
                            a{
                                // display: none;
                                // color: black;
                                font-size: 11px;
                                // border-bottom: 2px solid transparent;
                                // // background-color: red;
                                // padding: 10px;
                                // text-decoration: none;
                                // &:hover{
                                //     border-bottom: 2px solid black;
                                //     transition: border 1s ease ;
                                // }
                            }
                        }
                        .last{
                            // display: none;
                            // cursor: pointer;
                            // background-color: black;
                            // border: 1px solid black;
                            // border-radius: 10px;
                            a{
                                // display: none;
                                // padding-left: 15px;
                                // padding-right: 15px;
                                // color: whitesmoke;
                                // display: flex;
                                // justify-content: center;
                                // align-items: center;
                                // gap: 10px;
                                // &:hover{
                                //     border-bottom: 2px solid transparent;
                                // }
    
                            }
                        }
                    }
                }
                label{
                    font-size: 20px;
                    display: block;
                    &:hover{
                        background-color:blue;
                        padding: 5px;
                       color: yellow;
                       border-radius: 20px;
                    }
                }
                // #navbar:checked ~ nav ul  li a , nav ul .last a ,nav ul .last,nav ul {
                //     display: block;
                //   }

                  #navbar:checked ~ nav {
                    display: block;
                  }
            }
        }





        div{
            .banner{
                height: 250px;
                .first{
                    height: 100%;
                    .paragraph{
                        height: 60px;
                        width: 50%;
                        margin-left: 20px;
                        display: flex;
                        gap:5px;
                        flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        p{
                            font-size: 8px;
                            color: rgb(180, 126, 230);
                        }
                        h1{
                            font-size: 15px;
                            color: blueviolet;
        
                        }
                        span{
                            font-size: 8px;
                            color: whitesmoke;
                        }
                        button{
                            font-size: 10px;
                        }
                    }
                }
            }
        }







        footer{
            .footer_menu{
                height: 1000px;
                width: 100%;
                flex-direction: column;
                .veges{
                    // justify-content: start;
                    // align-items: start;
                    height: 280px;
                    width: 100%;
                }
                .menu{
                    height: 280px;
                    width: 100%;
                    // justify-content: center;
                    // align-items: center;
                   
                    justify-content: center;
                    align-items:start;
                    justify-content: space-evenly;
                }
                .help{
                    height: 280px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:start;
                    // justify-content: center;
                    // align-items: center;
                    padding-left: 40px;
                    justify-content: space-evenly;
                    a{
                        text-decoration: none;
                            color: black;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            span{
                                margin-left: 15px;
                                margin-top: 5px;
                            }
                    }
                    h1{
                        font-family: 'Courier New', Courier, monospace;
                         margin-top: 10px;
                    }
                }
                .question{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    padding-left: 10px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    .location{
                        height: 80px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            font-size: 13px;
                            text-align: start;
                            // margin-right: 30px;
                        //    margin-right: 50px;
                        margin-left: -80px;
                        }
                        p{
                            padding: 0px;
                            margin: 0px;
                            font-size: 12px;
                        }
                    }
                }
                    
            }
            .footer_main{
                height: 50px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 8px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
        }
    }
    


   
}